.b-mainSlider {
  padding: 30px;
  background: #f2f2f2;

  &_bottomBorder {
    border-bottom: 1px solid lighten(#999, 30%);
  }

  &__img {
    display: block;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 1px lighten(#999, 30%);
    width: 100%;
  }
}